<!-- HTML structure for handling the testimonials carousel -->
<div id="testimonials" class="container-xll set-image-bg bg-testimonials d-flex mt-5">
        <div class="testimonial-container mt-5">
            <div class="owl-carousel owl-theme">
                {% for testimonial in testimonials %}
                <div class="item">
                    {% if testimonial.user.userprofile.user_image %}
                    <img class="mx-auto rounded-circle user-image w-25"
                        src="{{ testimonial.user.userprofile.user_image.url }}"
                        alt="{{ testimonial.user.username }} Profile Image">
                    {% else %}
                    <img class="mx-auto rounded-circle user-image w-25 mb-3"
                        src="../../../media/images/large/support/user-default-image-large-removebg-preview.png"
                        alt="Default Profile Image">
                    {% endif %}
                    <h3 class="mb-1">{{ testimonial.user.username }}</h3>
                    <small class="mb-5 font-weight-bold ">{{ testimonial.user.userprofile.location }}</small>
                    <p class="w-75 mx-auto mt-3"><i class="fas fa-quote-left interactive-color"></i> {{ testimonial.comment}} <i class="fas fa-quote-left interactive-color"></i></p>
                    <a class="font-weight-bold transition-3" href="{% url 'recipe_page' pk=testimonial.recipe.pk %}">
                        <hr class="under-line w-75 mx-auto">
                        <span class="Kaushan-title interactive-color mt-3">
                            <i class="fa-solid fa-hand-point-right"></i>
                            {{ testimonial.recipe.title }}
                        </span>
                    </a>
                </div>
                {% empty %}
                <div class="item">
                    <p>No testimonials available at the moment.</p>
                </div>
                {% endfor %}
            </div>
        </div>
</div>
