{% extends "layout.html" %}

{% block body %}
<div id="about" class="container mt-5">
    <div class="row">
        <div class="col-md-7 pr-5">
            <h2 class="title interactive-color">About Us</h2>
            <p class="mb-3 sub-title">Unveiling the Secrets of Culinary Excellence: Discover, Create, and Savor Global
                Flavors.</p>
            <hr class="under-line">
            <p class="paragraph ">Welcome to World of Flavors, where we celebrate the art of cooking with a global
                perspective. Our mission
                is to provide you with a diverse collection of recipes that highlight the best of international cuisine.
                From classic favorites to innovative creations, we strive to inspire your culinary journey with every
                dish.
            </p>
            <p class="paragraph ">At World of Flavors, we believe that food is more than just sustenance—it's an
                experience that brings
                people together. Our platform is dedicated to exploring the rich flavors of the world, offering tips,
                techniques, and stories behind each recipe. Join us as we embark on a flavorful adventure that enhances
                your dining experience and connects you to cultures around the globe.
            </p>
        </div>
        <div class="bg-1 col-md-5 set-image-bg display-desktop">
        </div>
    </div>
    <div class="row mt-5">
        <div class="bg-2 col-md-5 set-image-bg "></div>
        <div class="col-md-7 pl-5">
            <h2 class="title interactive-color">Discover the Inspiration</h2>
            <p class="mb-3 sub-title">For Food Lovers: Share, Connect, and Enhance Your Culinary Creations with Our Community.</p>
            <hr class="under-line">
            <p class="paragraph ">At World of Flavors, our mission is to create a vibrant community where food
                enthusiasts can share their culinary creations and connect with others. By signing up, you gain access
                to a personalized profile where you can update your recipes, track your cooking adventures, and engage
                with fellow food lovers. Share your unique dishes, provide feedback on others' recipes, and exchange
                tips to enhance your culinary skills
            </p>
            <p class="paragraph">Our platform not only allows you to showcase your recipes but also invites you to
                interact with a diverse community of cooks. You can like and comment on recipes from users around the
                world, fostering a dynamic exchange of ideas and flavors. Join us to contribute to a global conversation
                about food, celebrate creativity in the kitchen, and build lasting connections with fellow recipe
                enthusiasts
            </p>
        </div>
    </div>
</div>

{% endblock %}